@use 'variables' as*;

.footer {
    text-align: center;
    padding: 1.5rem;
    background: rgba($backgroundColor , .85);
    color: $textColor;

    .container {
        display: flex;
        justify-content: space-between;

        .social-media-links {
            display: flex;
            gap: 8px;

            img {
                @media (max-width: 640px) {
                width: 100%;
            }
            }

        }

        @media (max-width: 640px) {
            font-size: 12px;
        }
    }
}